/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
}

/* Header styles */
#header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #FF6347; /* Tomato red */
}

.title {
    margin: 0;
    font-size: 2em;
}

/* Main content styles */
#main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project-title {
    margin-top: 0;
    font-size: 1.5em;
}

.project-description {
    margin: 10px 0;
    font-size: 1.2em;
}

.project-link {
    color: #333;
    text-decoration: none;
}

/* Footer styles */
#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid #FF6347; /* Tomato red */
}

.go-back {
    margin: 0;
    font-size: 1.2em;
}

.go-back a {
    color: white;
    text-decoration: none;
}

.go-back a:hover {
    color: #ddd;
}

/* Navigation styles */
#navigation {
    margin: 20px 0;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-item a:hover {
    color: #ddd;
}

/* Project Images */

.project-images {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.project-image {
    flex-shrink: 0;
    width: 25%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #FF6347; /* Tomato red */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #FF4500; /* Darker tomato red */
}